<!-- hero image  -->
<section class="mt-4 container-fluid hero">
    <div class="container  text-center">
        <div class="row  ">
            <div class="col-md-12 py-5 ">
           <h1 class="image-h1  mt-5-md py-4-md  mt-5-lg  py-4-lg ">Organic Juices</h1>
           <h4 class="image-h4 mt-4-md py-2-md">Deliverd to your Doorstep</h4>
           <button class="btn mt-4-md mt-4-lg text-white btn-outline-dark btn-lg border-0 m ">SHOP</button>
            </div>
        </div>
    </div>
</section>
 
<!-- content  -->


<section class="mt-5">
    <div class="container">
        <div class="row gx-5 mx-auto-md mt-5 py-4 ">
            <div class="col-md-6 ">
                <img src="../../../../assets/berry.jpg" class=" img-fluid" alt="">
            </div>
            <div class="col-md-4 offset-md-1  ">
                <h2 class="content content-h2">Our juicing technique</h2>
                <p class="content content-p">How do we pack so much flavor into each bottle? Our patented juicing technology squeezed every last bit of quality juice out of each fruit, meaning you get to enjoy every bit of the original goodness.</p>
            </div>
        </div>
        <div class="row  mt-5-md mt-1-sm py-4">>
        <div class="col-md-4  offset-md-1 ">
            <h2 class="content content-h2">Is it really organic?</h2>
            <p class="content content-p">Yes. The farms from which we source all our fruit are 100% certified organic. This means there are no harmful chemicals, pesticides, fungicides, or herbicides used on the food you consume. This is fruit at its most natural.</p>
        </div>
        <div class="col-md-6">
            <img src="../../../../assets/ORANGE.jpg" class="img-fluid" alt="">
        </div>
      </div>
      </div>
</section>
      
<!-- images -->
<section>
  <div class="container mt-5 py-5">
    <div class="row mt-5 py-4">
      <div class="col-md-12">
        <div class="row mt-5 py-4">
          <div class="col-md-6">
            <img src="../../../../assets/org.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-6">
            <img src="../../../../assets/14.jpg"  class="img-fluid" alt="">
          </div>
        </div>
      
        
      </div>
      
    </div>
  </div>
</section>

<!-- products -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 py-5">
        <h3 class="content-p py-4 product-h3 text-md-center-">Customer loves our products</h3>
      </div>
    </div>
    
      <div class="row ">
        <div class="col-md-4">
          <img src="../../../../assets/man-in-grey-tank-top-and-woman-in-green-top-holding-clear-3754291.avif"  class=" mt-4 img-fluid" alt="">
        </div>
        <div class="col-md-5 offset-md-3">
          <p class="mt-5-md mt-1-sm py-5 product-p ">“I love this product! I've gone through the entire collection and have not found one that I didn't like. Fantastic service and quick delivery as well.” — <strong>Alicia Brown</strong></p>
        </div>
      </div>
      
      <div class="row ">
        <div class="col-md-4">
          <img src="../../../../assets/woman-in-white-long-sleeve-shirt-drinking-an-orange-juice-3767958.avif"  class=" mt-4 img-fluid" alt="">
        </div>
        <div class="col-md-5 offset-md-3">
          <p class="mt-5-md mt-1-sm py-5 product-p  ">“I've been buying these juices for a while now and it's absolutely delicious and filling. So happy I discovered it!” — <strong>Ellen Carder</strong></p>
        </div>
      </div>

      <div class="row ">
        <div class="col-md-4">
          <img src="../../../../assets/index.avif"  class=" mt-4 img-fluid" alt="">
        </div>
        <div class="col-md-5 offset-md-3">
          <p class="mt-5-md mt-1-sm py-5 product-p  ">“This product is amazing. Experience ordering and receiving products are more than exceptional. Thank you, highly recommending it.” — <strong>Francis Perry</strong></p>
        </div>
      </div>
  </div>
</section>

<!-- choose -->
<main class="mt-4 ">
  <div class="container  text-center">
      <div class="row  ">
          <div class="col-md-12 mt-5 py-5 ">
            <h1 class="choose mt-5">CHOOSE YOUR DOSE OF WELLNESS</h1>
         <a href="./shop.html"><button class="btn text-white mt-4 btn-outline-dark btn-lg border-0 m ">SHOP</button></a>
          </div>
      </div>
  </div>
</main>